a {
    border:1px solid black
}

p {
    color:white;
    width: 600px;
    text-align: center;
    white-space: nowrap;
    
}

.background-wrap {
    background-image: url('https://image.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg');
    background-size: 272px 196px;
    width: 272px;
    height: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .content span {
    color: white;
  }
  
  .content span:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
  }
  
  .content span:nth-child(2) {
    font-size: 20px;
  }

  