div {
    margin: 20px;
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;
    
  }

a:hover {
    background-color: #ffffff;
}

